
       
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><%#= image_tag ('lorene.jpeg'), class: "card-img-top mb-5 mb-md-0" %></div>
                    <div class="col-md-6">
                        
                        <h1 class="display-5 fw-bolder">Jake Lemmond</h1>
                      
                        <p class="lead">Professional Expertise: Our trained and experienced movers know the ins and outs of the moving process, ensuring a smooth and efficient move every time.

Customized Approach: We understand that every move is unique. That's why we tailor our services to fit your specific requirements, ensuring you only pay for what you need.

Reliability: We take pride in our commitment to punctuality and reliability. You can trust us to be there on time, every time.

Transparency: No hidden fees or surprises. Our transparent pricing and clear communication mean you'll know exactly what to expect throughout the process.

Customer Satisfaction: Our track record of happy customers speaks for itself. We go the extra mile to exceed your expectations and turn a potentially stressful experience into a positive one.</p>
                        <div class="d-flex">
                            
                            <%= link_to "Contact me Here", pages_contact_path, class: "btn btn-primary" %>
                               
                              
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        